#canvas-sidebar {
    margin-top: 50px;
}

#uploadedImg {
    visibility: hidden;
}

.btn-custom-sidebar {
    margin-bottom: 9px;
}

.btn-group-vertical {
    position: relative;
}

#btn-add-mask-to-cart {
    width: 70%;
    height: 70px;
    line-height: 30px;
    background-color: #f38630;
}

.btn-gost {
/*    background: transparent;*/
      background-color: #f38630 !important;
      color: #ffffff;
/*    border-width: 4px;*/
}

#functions-sidebar {
    position: absolute;
    right: 25px;
    padding-right: 50px;
}